<footer class="footer">
    <div class="row grid">
        <div class="column grid footer-contact">
            433 Baraga Ave<br>
            L'Anse, Michigan 49946<br>
            <a href="tel:9065245157">(906) 524-5157</a>
        </div>
        <div class="column text-right footer-social">
        <a href="https://www.facebook.com">Facebook</a>
        </div>
    </div>
    <div class="footer-copy text-center">
        &copy; Sacred Heart Schools {{"now"|date('Y')}}
    </div>
</footer>