.footer{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $black;
    color: $white;
}

.footer-icon {
    fill: currentColor;
    padding: 0.5rem;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.footer-icon:hover{
    background-color: #3b5998;
}

.footer a{
    display: inline-block;
    color: $white;
    text-decoration: underline;
}

.footer a:hover{
    text-decoration: none;
}

.footer-contact{
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}

.footer-social{
    align-items: center;
}

.footer-copy{
    padding: 1rem 0 0;
}