.footer{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $black;
    color: $white;
}

.footer a{
    display: inline-block;
    color: $white;
    text-decoration: underline $brand-red;
}

.footer a:hover{
    text-decoration: underline;
}

.footer-contact{
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}

.footer-social{
    align-items: center;
}

.footer-copy{
    padding: 1rem 0 0;
}