.footer{
    margin-top: 2rem;
    padding: 1rem;
    background-color: $black;
    color: $white;
}

.footer-icon {
    fill: currentColor;
    padding: 0.5rem;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.footer-icon:hover{
    background-color: #3b5998;
}

.footer a{
    display: inline-block;
    color: $white;
    text-decoration: underline;
}

.footer a:hover{
    text-decoration: none;
}

.footer-contact{
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
}

@media (min-width: $medium){
    .footer-contact{
        text-align: left;
    }
}

.footer-social{
    align-items: center;
}

.footer-copy{
    padding: 1rem 0 0;
}

@media (max-width: $small){
    .footer-social.column.text-right,
    .footer-contact{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-social{
        margin-top: 0.5rem;
    }
}
