svg.icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
}

a:not([class]) {
    text-decoration: underline;
    color: $brand-red;
}

*:focus{
    outline: 1px dashed $black;
}

.no-bullet {
    padding-left: 0;
    list-style-type: none;
}

.inline-list > li {
display: inline-block;
}

.clearfix::before,
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}