.row {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
}

@media (min-width: 42em) {
    .grid {
        display: flex;
    }
}

.column {
    display: flex;
    flex: 1;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.column.text-right{
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.float-right{
    float: right;
}