.row {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: $global-width;
}

@media (min-width: $small) {
    .grid {
        display: flex;
    }
}

.grid > .column {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.column.text-right{
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.float-right{
    float: right;
}
