/* Skip links */
.skip-link {
    position: absolute;
    top: -2rem;
    left: 2%;
    color: $white;
    z-index: 2;
}

.admin-bar .skip-link:focus {
    top: 2rem;
}

.skip-link:focus {
    top: 0;
    padding: 1rem;
    background-color: $black;
}

/* Prenav */
.prenav {
    border-top: 5px solid $brand-red;
    background-color: $black;
}

.prenav .grid {
    display: flex;
}

.header-logo {
    display: flex;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    align-items: center;
    color: $white;
    text-decoration: none;
    z-index: 1;
}

.header-logo:hover .header-logo__text {
    text-decoration: underline;
}

.header-logo img {
    margin: 0.25rem 1rem;
    height: 3rem;
}

.header-logo__text {
    padding-right: 3.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

@media(min-width: $medium) {
    .header-logo img {
        margin: 0.25rem 1rem -0.4em 0;
        height: 5rem;
    }

    .header-logo__text {
        font-size: 2rem;
    }
}

.prenav .prenav-menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.prenav-menu li {
    display: inline-flex;
    height: 100%;
}

.button-red,
.prenav-menu li a {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $brand-red;
    color: $white;
}

.prenav-menu li a {
    border: 1px solid $black;
    border-right: 0 solid transparent;
}

.button-red:hover,
.prenav-menu li a:hover {
    background-color: $brand-gray;
}

.button-red {
    padding: 1rem 2rem;
    width: auto;
    text-decoration: none;
}

.button-red:hover {
    text-decoration: underline;
}

.prenav-menu li a:hover {
    border-bottom: 1px solid $black;
}

/* Navbar container  */
.menu-button {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    z-index: 5;
    width: 2.5rem;
    height: 3rem;
    border: none;
    background: rgba($black, 0.9);
    color: $white;
    border-top: 5px solid $brand-red;
    transition: right 0.3s;
}

.menu-button::before,
.menu-button::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 1.5em;
    border-top: 3px solid white;
    transition: all 0.2s;
}

.menu-button::after {
    height: 3px;
    border-bottom: 3px solid white;
}

.menu-button::before {
    margin-bottom: 3px;
}

.menu-button.is-open {
    right: 250px;
    
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &::before {

        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
        border-bottom: none;
    }
}

.nav-main {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    max-width: 250px;
    max-height: 90%;
    background-color: rgba($black, 1);
    border-top: 5px solid $brand-red;
    transform: translatex(100%);
    transition: transform 0.2s ease-out;
    overflow-y: auto;
}

.nav-main.is-open {
    transform: translatex(0);
}

@media(min-width: $medium) {
    .nav-main {
        position: static;
        transform: none;
        width: 100%;
        max-width: none;
        border-top: none;
        background-color: rgba($black, 0.8);
        transition: transform 0s;
        overflow-y: hidden;
    }
}

.nav-main .navbar {
    display: flex;
    flex-direction: column;
}

.navbar {
    overflow: hidden;
    width: 100%;
    max-width: $global-width;
    margin: 0 auto;
    padding: 0;
}

@media(min-width: $medium) {
    .navbar{
        padding: 0 0 0 0;
    }

    .nav-main .navbar,
    .navbar {
        display: table;
    }
}

.navbar>li {
    display: table-cell;
}

.navbar ul {
    list-style-type: none;
    padding-left: 0;
}

/* Links inside the navbar */
.navbar a {
    display: inline-block;
    font-size: 16px;
    color: $white;
    text-align: center;
    padding: 1rem 2rem 1rem 0.5rem;
    text-align: left;
    text-decoration: none;
}

.prenav a:focus,
.navbar a:focus{
    outline: 1px dashed $brand-red;
    outline-offset: -1px;
}

@media (min-width: $small){
    .navbar a {
        padding: 14px 16px;
        text-align: center;
    }
}

/* The dropdown container */
.dropdown {
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    position: absolute;
    right: 0.5rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 2rem;
    height: 2rem;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    border-bottom: 2px solid #202020;
    border-right: 2px solid #202020;
    background-color: hsla(0, 0%, 50%, 0.25);
    font-size: 16px;
    text-align: center;
    transition: 0.2s all;
}


.dropdown .dropbtn:active,
.dropdown .dropbtn:focus {
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    border-left: 2px solid #202020;
    border-top: 2px solid #202020;
}

@media (max-width: $medium) {
    .is-open.dropdown .dropbtn {
        border: 2px solid transparent;
        background-color: #fff;
    }
}


.is-open.dropdown .dropdown-content {
    display: block;
}


@media (min-width: $medium) {
    .dropdown .dropbtn {
        float: none;
        margin: 0 1rem 0 0;
        border: none;
        outline: none;
        position: static;
        background-color: transparent;
        background-color: transparent;
    }
}

.dropdown .dropbtn::after {
    content: '';
    display: inline-block;
    transform: translateY(-50%);
    border-top: 5px solid $brand-red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.dropdown:hover .dropbtn::after {
    border-top-color: $white;
}

@media (max-width: $medium) {
    .is-open.dropdown .dropbtn::after {
        border-top: 0 solid transparent;
        border-bottom: 5px solid $brand-red;
    }
}

.menu-item:hover {
    background-color: $brand-red;
}

.menu-item:hover>a {
    text-decoration: underline;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    // position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-color: $brand-gray;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    z-index: 1;
}

.dropdown-content.is-open {
    display: block;
}

.dropdown-content li {
    box-shadow: 0 11px 0 -10px $medium-gray;
}

.dropdown-content li:last-of-type{
    box-shadow: none;
}

@media (min-width: $medium) {
    .dropdown-content {
        position: absolute;
    }

    .dropdown-content li {
        box-shadow: none;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}