// Variables
$brand-red: #D72027;
$brand-gray: #333333;
$white: #fafafa;
$black: #0a0a0a;
$light-gray: #F0F0F0;
$medium-gray: #C4C4C4;
$global-width: 1024px;
$header-font-family: Montserrat, Verdana, Geneva, sans-serif;
$body-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

//media query variables
$large: 72em;
$medium: 60em;
$small: 42em;

//Reset
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $body-font-family;
}

body *{
    box-sizing: inherit;
}