.teacher-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    max-width: 250px;
    background-color: $light-gray;
}

.teacher-profile__image + .teacher-profile__content {
    padding-top: 1rem;
    max-width: 100%;
}

.teacher-profile__content {
    display: flex;
}

.teacher-profile__content .column:first-of-type{
    margin-right: 1rem;
}

.teacher-profile__content + * {
    padding-top: 1rem;
}

.teacher-profile__image {
    width: 100%;
}

.teacher-profile h3,
.teacher-profile ul {
    margin:0;
}